# Dependencias Composer
vendor/

# Variables sensibles
.env
config.php

# Archivos subidos por usuarios
Vistas/img/
Vistas/img/secretarios/
Vistas/img/doctores/

# Logs y temporales
*.log
*.tmp

# VSCode
.vscode/

# Sistema Windows
Thumbs.db